.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.wrapper {
  background-image: url('https://p.w3layouts.com/demos_new/template_demo/23-03-2018/movie_seat_selection-demo_Free/759053290/web/images/banner.jpg  ');
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
}

.my-form {
  width: 60%;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 auto;
  padding: 32px;
}

input {
  background-color: transparent;
  border: 1px solid #fff;
  padding: 8px 16px;
  height: 40px;
  color: #fff;
  font-weight: bold;
}

label {
  color: #fff;
  font-weight: bold;
  display: inline-block;
  width: 100px;
}

button {
  background-color: #fff;
  color: #000;
  font-weight: bold;
  border-radius: 5px;
  padding: 8px 16px;
  border: none;
}

.input-form {
  width: 75%;
}

.instruction {
  display: flex;
  justify-content: space-around;
  margin-top: 16px;
}

.instruction span {
  color: #fff;
  font-weight: bold;
}

.instruction .color {
  width: 20px;
  height: 20px;
}

.instruction .my-instruc .color:first-child {
  background-color: green;
}

.instruction .my-instruc:nth-child(2) .color {
  background-color: red;
}

.instruction .my-instruc:last-child .color {
  background-color: white;
  border: 2px solid orange;
}

.warning {
  color: #ff9800;
  font-size: 20px;
}

table th,
table td {
  color: white;
  text-align: center;
}

.my-seat {
  background-color: #fff;
  border: 2px solid orange;
  color: #000;
  text-align: center;
  padding: 4px;
  opacity: 1;
  cursor: pointer;
}

.my-seat.active {
  background-color: green;
}

.my-seat.disable {
  opacity: .5;
  cursor: not-allowed;
}

.screen {
  width: 75%;
  /* height: 50px; */
  background-color: orange;
  color: black;
}

.screen span {
  letter-spacing: 4px;
  font-size: 24px;
  line-height: 60px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}